* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1;
	min-width: 320px;
	position: relative;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	min-width: 0;
}

td,
th {
	padding: 0;
}

input {
	line-height: normal;

	&[type='reset'],
	&[type='submit'] {
		cursor: pointer;
		appearance: button;
	}

	&[type='checkbox'],
	&[type='radio'] {
		box-sizing: border-box;
		padding: 0;
	}

	&[type='number'] {

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			height: auto;
		}
	}

	&[type='search'] {
		appearance: textfield;
		box-sizing: border-box;

		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration {
			appearance: none;
		}
	}
}

textarea {
	resize: none;
	overflow: auto;
}

button,
html input[type='button'] {
	cursor: pointer;
	appearance: button;
}

select {
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

img {
	max-width: 100%;
	height: auto;
	pointer-events: none;
	user-select: none;
	border: 0;
	vertical-align: top;
}
