// colors
:root {
	--root-background: linear-gradient(180deg,#fff 0,#fff 70%,#f9fbfc);
	--root-text: #344554;

	--box-background: #fff;

	--primary-text: #fff;
  --primary-color: #4169E1;
	--primary-active: #FF4F79;

	--secondary-color: #03a87c;

	--container-width: 1440px;
}

// mixins
@mixin desktop {@media (min-width: 1141px) { @content; }}
@mixin after-desktop {@media (max-width: 1140px) { @content; }}
@mixin tablet {@media (max-width: 1020px) { @content; }}
@mixin after-tablet {@media (max-width: 760px) { @content; }}
@mixin from-tablet {@media (min-width: 761px) { @content; }}
@mixin mobile {@media (max-width: 480px) { @content; }}

%flex-container {
	display: flex;
	flex-direction: column;

	height: 100%;
	min-height: 0;
}

%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// fonts
$primaryFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// padding
$p: 1em;
$p-xs: $p / 2;
$p-lg: $p * 2;

// margin
$m: 1em;
$m-xs: $m / 2;
$m-lg: $m * 2;

// settings
$trs: 0.2s;
$border-radius: 0;
$navbar-width: 300px;
