h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: bold;
  font-style: normal;
  font-family: inherit;
}

.preloader {
  background: var(--root-background);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
}
