@import 'inc/_default';
@import 'inc/_fonts';
@import 'inc/_vars';

body {
	background: var(--root-background);
	color: var(--root-text);
	font-family: $primaryFont;
	font-size: 1.25rem;
	line-height: 1.5;

	@include mobile {
		font-size: 1rem;
	}
}

main {
	position: relative;
	overflow: hidden;
}

.container {
	margin: 0 auto !important;

	@include desktop {
		width: var(--container-width);
	}

	@include after-desktop {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
}
