@import 'inc/_default';
@import 'inc/_fonts';
@import 'inc/_vars';

body {
	color: $primaryText;
	font-size: $bodyFont;
	font-family: $porimaryFont;
}

main {
	position: relative;
	overflow: hidden;
}

.container {
	margin: 0 auto !important;

	@include desktop {
		width: $containerWidth;
	}

	@include after-desktop {
		padding-left: 15px;
		padding-right: 15px;
	}
}
